<div class="pt-24 animate-once animate-delay-[600ms] animate-fill-both opacity-0" id="sobre-mi">
    <h2 class="text-2x1 font-semibold mb-6 flex gap-x-2 items-center">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
        Sobre mi
    </h2>
    <div class="md:flex sm:grid grid-cols-1 items-center gap-3">
        <div class="flex-auto gap-3">
            <p class="mb-2 text-sm">Mi nombre es Rodolfo Aldana. Mi andadura en el mundo de la programación comenzó mientras cursaba la mitad de mis estudios en <span>Ingeniería de Sistemas.</span> Empecé colaborando en proyectos de forma remota con un equipo que posteriormente conformaría la empresa 'Naguara Software', donde me <span>especialicé en el área de Frontend.</span></p>
            <p class="mb-2 text-sm">Al concluir mis estudios universitarios, comencé mi carrera como desarrollador Freelancer, adquiriendo habilidades en diversas tecnologías para sitios web comerciales. Actualmente, <span>continúo mi formación profesional en el desarrollo web</span> y ampliando mis <span>conocimientos con un curso en el idioma inglés</span> con propósitos laborales.</p>
            <p class="mb-2 text-sm">Durante mi tesis de grado, <span>creé un prototipo de una aplicación móvil enfocada en seguridad ciudadana.</span> Actualmente, estoy trabajando en proyectos personales con miras a establecer mi propia empresa en el futuro, la cual ofrecerá soluciones innovadoras para mejorar la vida cotidiana de las personas.</p>
        </div>
        <div class="flex-auto">
            <div class="container_img rounded-sm border-double border-4 border-blue-100">
                <img src="./assets/img/profile-3.jpg" alt="">
            </div>
        </div>
    </div>
</div>