/*Colores*/
$primary: #052594;
$secundary: indigo;
$background_element: rgb(248, 249, 250, .9);

/*Fuentes*/
@font-face {
  font-family: "poppins";
  src: url('../assets/fonts/poppins/poppins-regular.ttf');
}

@font-face {
  font-family: "cyber";
  src: url('../assets/fonts/cyber/CyberPrincess3D.ttf');
}

h1,h2,h3,h4,h5,p,div{
  color: white;
}

h1{
  font-family: "cyber";
}

p,span{
  font-family: "poppins";
}

section.container{    
    display: flex;
    justify-content: center;
}

div.container{
    width: 768px;
}

@media screen and (max-width: 768px) {
  div.container{
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  div.container{
    width: 95%;
  }
}

/*
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);*/

.laravel{
  background-color: #ED4F45;
  color: white;
}

.boostrap{
  background-color: #6366F1;
  color: white;
}

.javascript{
  background-color: #E7A52E;
  color: white;
}

.angular{
  background-color: #DE0837;
  color: white;
}
.animatecss{
  background-color: black;
  color: white;
}