@import "../../../app.component.scss";


p{
    font-family: "poppins";
}

@media screen and (max-width: 992px) {
    .section_1{
        height: 70vh;
    }
}

@media screen and (max-width: 640px) {
    .section_1{
        height: 100vh;
        display: block;
        padding-top: 20%;
    }
}